---
import PageLayout from '../../layouts/PageLayout.astro';

import {
  i18n,
  getLanguageFromURL,
  getLocales,
  KNOWN_LANGUAGES,
} from '../../i18n.js';

export async function getStaticPaths() {
  return Object.values(KNOWN_LANGUAGES).map((locale) => ({
    params: { locale },
    props: { locale },
  }));
}
const locale = getLanguageFromURL(Astro.canonicalURL.href);
---

<PageLayout title="test">
  <h2 class="content-head is-center">Excepteur sint occaecat cupidatat.</h2>

  <div class="pure-g">
    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
      <h3 class="content-subhead">
        <i class="fa fa-rocket"></i>
        Hello
      </h3>
      <p>Please confirm your email</p>
      <a href={`/${locale}/thank-you`}>Thank you page</a>
    </div>
  </div>
</PageLayout>
